body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/* Banar & Nav */
#banar{
    background-image: url(../img/banar-back.png);
    background-position: center center;
    background-size:100% 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 794px;
    padding: 0%;
}
#navbar{
    background-color: #303030;
    height: 103px;
}
#nav-logo{
    padding-left: 44px;
}
#home{
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    padding-left: 154px;
}
#product{
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    padding-left: 43px;
}
#promo{
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    padding-left: 43px;
}
#about{
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    padding-left: 43px;
}
#contact{
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    padding-left: 43px;
}
#search-logo{
    margin-left: 249px;
}
#banar-h1{
    font-size: 124.63px;
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    padding-left: 69px;
    padding-top: 249px;
    margin: 0%;
}
#banar-para{
    font-size: 29.72px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    line-height: 30px;
    padding-left: 72px;
    padding-top: 0px;
}
#register-now{
    background-color: #e8631c;
    font-size: 29.27px;
    font-family: 'Oswald', sans-serif;
    height: 65px;
    width: 322px;
    border:none;
    margin-left: 75px;
    margin-top: 20px;
}

/* Section-1 */
#section-1{
    height: 963px;
    background-color: #e8631c;
    background-image: url(../img/section-1-back.png);
    background-position: center center;
    background-size:100% 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
}
#section-1-h1{
    font-size: 75px;
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    text-align: center;
    padding-top: 120px;
}
#section-1-para{
    text-align: center;
    font-size: 29.72px;
    color: #ffffff;
    margin-bottom: 55px;
}
#section-1-card-1{
    border: none;
    width: 371px;
    height: 492px;
    margin-left: 56px;
}
#section-1-card-2{
    border: none;
    width: 371px;
    height: 492px;
    margin-left: 16px;
}
#section-1-card-3{
    border: none;
    width: 371px;
    height: 492px;
    margin-left: -11px;
}
.card-body{
    background-color: #303030;
    text-align: center;
}
.card-title{
    font-size: 36.95px;
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
}
.card-text{
    font-size: 22.17px;
    font-family: 'Montserrat', sans-serif;
    color:  #ffffff;
}
#section-1-col{
    padding: 0px;
}



/* Section-2 */
#section-2{
    height: 967px;
    
    background-color: #303030;
    background-image: url(../img/section-2-back-1.png),url(../img/section-2-back-2.png);
    background-position-x: -30px,568px;
    background-position-y: -430px,415px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#pricing{
    font-size: 75px;
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    text-align: center;
    padding-top: 96px;
}
#pricing-body{
    text-align: center;
    font-size: 29.72px;
    color: #ffffff;
}

#section-2-card-1{
    height: 490px;
    width: 371px;
    background-color: #e8631c;
    margin-left: 40px;
}
#section-2-card-2{
    height: 490px;
    width: 371px;
    background-color: #e8631c;
    margin-left: -12px;
}
#section-2-card-3{
    height: 490px;
    width: 371px;
    background-color: #e8631c;
    margin-left: -35px;
}


#section-2-card-img{
    height: 150px!important;
    width: 115px!important;
    margin-left: 130px;
    margin-top: 60px;
}
#section-2-card-title{
    text-align: center;
    font-size: 36.95px;
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    padding-top: 40px;
    padding-bottom: 14px;
}
#section-2-card-text{
    text-align: center;
    font-size: 22.17;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}
#section-2-card-btn{
    height: 65px;
    width: 321px;
    background-color: #303030;
    border: none;
    margin-left: 24px;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    padding-top: 13px;
}
#section-2-row{
    padding-top: 50px;
}


/* Section-3 */
#section-3{
    height: 1752px;
}
.amazing-h1{
    font-size: 75px;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    padding-top: 315px;
    padding-left: 28px;
}
.amazing-para{
    font-size: 29.72px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}
#section-3-col{
    padding: 0%;
}
#section-3-col-1{
    background-color: #e8631c;
    background-image: url(../img/section-2-back-2.png),url(../img/section-3-back.png);
    background-repeat: no-repeat;
    background-position-x: 18px,60px;
    background-position-y: -648px,457px;
    background-size: 100% 100%;
}

#section-3-img-1{
    width: 644px;
}
.section-3-img-2{
    width: 607px;
}
#section-3-btn-1{
    height: 65px;
    width: 321px;
    background-color: #303030;
    border: none;
    margin-left: 34px;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    padding-top: 13px;
    margin-top: 30px;
}

#section-3-col-2{
    background-color: #e8631c;
    background-image: url(../img/section-3-left-back.png);
    background-repeat: no-repeat;
    background-position-x: 19px;
    background-position-y: 412px;
}
#section-3-col-3{
    padding: 0%;
}
.best-h1{
    font-size: 75px;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    padding-top: 330px;
    padding-left: 64px;
}
.best-para{
    font-size: 25px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    padding-top: 0px;
    padding-left: 66px;
}
#section-3-btn-2{
    height: 65px;
    width: 321px;
    background-color: #303030;
    border: none;
    margin-left: 77px;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    padding-top: 13px;
    margin-top: 64px;
}


/* Section-4 */
#section-4{
    height: 973px;
    
    background-color: #303030;

}
.statistics-h1{
    font-size: 75px;
    color: #ffffff;
    font-family: 'Oswald', sans-serif; 
    text-align: center;
    padding-top: 173px;   
}
.statistics-para{
    font-size: 29.72px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 22px;
}
.section-4-h1{
    font-size: 66.84px;
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    
}
.section-4-para{
    font-size: 41.67px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}
.section-4-col{
    text-align: center;   
}
#section-4-row{
    padding-top: 150px;
}

/* Section-5 */
.section-5{
    background-image: url(../img/section-5-back.png);
    background-color:#e8631c;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 974px;
    position: relative;
}
.section-5-para{
    font-size: 50px;
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    line-height: 50px;
    padding-top: 345px;
}
.section-5-h1{
    font-size: 58.33px;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    padding-top: 53px;
}


/* Section-6 */
.section-6{
    height: 592px;
    background-color: #e8631c;
    background-image: url(../img/section-6-back-left.png),url(../img/section-6-back-right.png);
    background-position-x: -74px,543px;
    background-position-y: -364px,-112px;
    background-repeat: no-repeat;
}
.section-6-h1{
    font-size: 75px;
    color: #ffffff;
    font-family: 'Oswald', sans-serif; 
    text-align: center;
    padding-top: 124px;
}
.section-6-para{
    font-size: 29.72px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 2px;
}
.email{
    height: 61px;
    width: 550px;
    border: none;
    margin-left: 272px;
    margin-top: 30px;
    padding-left: 20px;
}
#subcribe{
    height: 61px;
    width: 222px;
    background-color: #303030;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    border: none;
    margin-top: -6px;
    margin-left: -15px;
}


/* Footer */
#footer{
    height: 475px;
    background-color: #303030;
}
.musicology{
    font-size: 33.33px;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    padding-top: 119px;
    padding-left: 57px;
}
.musicology-para{
    font-size: 25px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    padding-top: 40px;
    padding-left: 57px;
    margin-bottom: 40px;
}
.footer-ul{
    padding: 0px;
}
.about{
    font-size: 33.33px;
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    padding-top: 119px;
    margin-bottom: 35px;
}
.about-para{
    font-size: 25px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
}
#about-para{
    font-size: 25px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}
#col-sm-2{
    padding: 0px;
}
.footer-ul-2{
    padding-left: 25px;
}
.footer-logo{
    padding-left: 16px;
    margin-top: 40px;
}
.footer-logo-1{
    padding-left: 57px;
}